*.py[co]

# Packages
*.egg
*.egg-info
build
eggs
parts
packages
sdist
develop-eggs
.installed.cfg
.codeintel

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Virtualenv, Dev environment
*.sublime-workspace
*.swp
pip-log.txt
pip-selfcheck.json
extends-cache/*
!extends-cache/README.txt

# local config
local.cfg
secret.cfg

# Grunt, npm
Gruntfile.js
npm-debug.log
temp_resources/
