.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
# files
.installed.cfg
lib64
log.html
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/plonetheme
